html {
    height: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--white2);
}

:root {
    --blue: #247291;
    --yellow: #f8da5b;
    --white1: #d8dbce;
    --white2: #f5f9ee;
}

.header {
    position: relative;
    top: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    margin-bottom: 10px;
    background-color: var(--white1);
    color: var(--yellow)
}

.header > h1 {
    color: var(--blue);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--white2);
    color: var(--blue);
    background-color: var(--white2);
}

.left-main {
    display: flex;
    align-items: center;
}

.sidebar {
    height: 250px;
    width: 300px;
    position: sticky;
    display: flex;
    flex-direction: column;
    border: solid;
    justify-content:space-around;
    align-items: center;
    color: var(--yellow);
}

.sidebar:hover {
    background-color: var(--white1);
}

.sidebar > h3 {
    color: var(--blue);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 30px;
    gap: 25px;
}

.main-content > div {
    border: solid;
    border-color: var(--yellow);
    width: 350px;
    height: 200px;
}

.books {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

.books:hover {
    background-color: var(--white1);
}

.add {
    display: flex;
    font-size: 20px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background-color: var(--white1);
    border: solid 2px var(--blue);
    padding: 10px 20px;
    width: 150px;
    margin: 20px auto;
}

.add:hover {
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--blue);
}

.add:active {
    background-color: var(--blue);
    color: var(--white2);
    transform: translateY(2px);
}

.read-remove {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.read, .remove {
    background-color: var(--blue);
    color: var(--white2);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.read:hover, .remove:hover{
    background-color: var(--yellow);
}

.read:active, .remove:active {
    transform: translateY(2px);
}

.add-form {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 33%;
    left: 33%;
    border: solid;
    border-color: var(--blue);
    color: var(--yellow);
    background-color: var(--white1);
    width: 400px;
    height: 200px;
    font-size: 25px;
}

.add-button, .close-button {
    background-color: var(--blue);
    color: var(--white2);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.add-button:hover, .close-button:hover {
    background-color: var(--yellow);;
}

.add-button:active, .close-button:active {
    transform: translateY(2px);
}