html {
    height: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--white2);
}

:root {
    --blue: #247291;
    --yellow: #f8da5b;
    --white1: #d8dbce;
    --white2: #f5f9ee;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--white1);
    color: var(--yellow);
    padding: 10px 0; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}


.header > h1 {
    color: var(--blue);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--white2);
    color: var(--blue);
    background-color: var(--white2);
}

.left-main {
    display: flex;
    align-items: center;
    padding: 20px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}

.sidebar {
    height: 250px;
    width: 300px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--yellow);
    background-color: var(--white1); 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}


.sidebar:hover {
    background-color: var(--white1);
}

.sidebar > h3 {
    color: var(--blue);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px;
}

.main-content > div {
    border: solid;
    border-color: var(--yellow);
    min-height: 200px; 
    background-color: var(--white2); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}

.books {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 20px; 
    background-color: var(--white2); 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}

.books:hover {
    background-color: var(--white1); 
}

.remove {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--blue);
    color: var(--white2);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.remove:hover{
    background-color: var(--yellow);
}

.remove:active {
    transform: translateY(2px);
    background-color: var(--white2);
    color: var(--blue);
}

.add {
    display: flex;
    font-size: 20px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background-color: var(--white1);
    border: solid 2px var(--blue);
    padding: 10px 20px;
    width: 150px;
    margin: 20px auto;
}

.add:hover {
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--blue);
}

.add:active {
    background-color: var(--blue);
    color: var(--white2);
    transform: translateY(2px);
}

.read-remove {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.read {
    display: flex;
    align-items: center;
    position: relative;
}

.read span {
    display: inline-block;
    margin-right: 10px; 
    font-size: 18px;
    font-weight: bold;
}

.read label {
    display: inline-block; 
}

.read input {
    opacity: 0;
    width: 60px;
    height: 34px;
}

.add-form {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    border-color: var(--blue);
    color: var(--blue);
    background-color: var(--white1);
    width: 400px;
    height: 300px;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-form div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-form label {
    width: 80px;
    font-weight: bold;
}

.add-form input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-size: 16px;
}

.add-form  input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
}

.read-slider {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--blue);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.add-button,
.close-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-button {
    background-color: var(--blue);
    color: var(--white2);
    margin-right: 10px;
}

.add-button:hover {
    background-color: var(--yellow);
}

.add-button:active {
    transform: translateY(2px);
    background-color: var(--white2);
    color: var(--blue);
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    background-color: #ff5c5c;
    color: var(--blue);
    border: none;
    border-radius: 5px;
}

.close-button:hover {
    background-color: var(--blue);
    color: var(--white2);
}